@model List<Categoria>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                LISTA CATEGORÍA
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action"" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Crear Categoría
            </a>

        </div>
    </div>

</div>
<table class=" table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            nom_Categoria
        </th>
        <th>
            Display_order
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
        <tr>
            <td>@obj.nom_categoria</td>
            <td>@obj.DisplayOrder</td>
        </tr>
        }

    </tbody>
</table>